/* Errand Partial */

/* Styled Classes */
.errandList {
list-style: none
}


/* Navigation Styling: */
nav > ul {
    padding: 10;
    padding: 10px;
    /* border: 1px black; */
}

nav > ul > span > li {
    display: inline;
    list-style-type: none;
    margin: 0 70px;
    
}
nav > ul > li > a{
text-decoration: none;

}

/* Log out button */
.logOutButton {
    display: top-left;

}


/* Health Page: */
img {
    width:200px;
    height:160px;

}
.recipe{
    list-style-type: none;

}

.recipeName{
    list-style-type: none;

}

.recipeBuilder{
    justify-content: center;

}