

/* body */

/* Navigation Styling: */
 nav > ul {
    padding: 10;
    padding: 10px;
    
}

nav > ul > span > li {
    display: inline;
    list-style-type: none;
    margin: 0 70px; 
    border: 30px black; 
    
}
nav > ul > li > a{
text-decoration: none;
}
    
.navigation {
    font-family: 'Barlow', sans-serif;
}


/* log out button */
.logOutButton {
    line-height: 32px;
    width: 80px;
    height: 30px;
    font-size: 8pt;
    font-family: tahoma;
    margin-top: 22px;
    margin-right: 80px;
    position:absolute;
    top:0;
    right:0;
}

/* Log out button */
.logOutButton {
    display: top-left;

}



/* Footer Styling for Global CSS */
.footerContent {
    display: flex;
    justify-content: space-between;
    background-color: #2309a533;
    height: 50px;
    align-items: center;
    padding: 40px 50px;
    /* box-shadow: 0px -12px 4px 1px rgba(0, 0, 0, .2);   */
    left:0px;
    bottom:0px;
    height:auto;
    width:100%;
    position: fixed;
    margin-top: 30px;  
    z-index: 20;
}

footer p {
    margin: 0;
    color: #111312;    
    font-size: .9em;  
      font-style: 'Bellefair', serif; 
      z-index: 20;}
    
    
#contact {
    text-align: left;
}

#hours {
    text-align: center;
}

#copyright {
    text-align: right;
}

.bold {
    font-size:1.5em;
}




/* HomePagePartial */
/* banner */
#banner {
    /* background-image: url(/images/kidsImage.jpg); */
    background-position: center center;
    background-size: cover;
    color: #6632324f;
    padding: 6em 0em 6em;
    text-align: center;
}

    #banner :last-child {
        margin-bottom: 0;
    }

    #banner h2 {
        color: #130d0d;
        font-size: 4em;
        line-height: 1.25em;
        margin: 0 0 0.5em 0;
        padding: 0;
    }

    #banner p {
        font-size: 1.5em;
        margin-bottom: 1.75em;
    }


/* Icon section of the home Page*/

.section1 {
    /* border: 1px black; */
    background-color: rgba(218, 210, 210, 0.26);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    margin: 10px;
   
}
.sectionOne{
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    display: inline;
    justify-content: center;

}
.healthDetails {
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
}
.errandDetails{
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
}

.favoriteFoodDetails{
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
}

.homepageh2 {
    font-family: 'Barlow', sans-serif;
}

.homepageTitle {
    font-family: 'Gloria Hallelujah', cursive;
}

.fa.fa-cutlery.fa-5x{
    margin: 30px;
}

fa.fa-shopping-cart.fa-5x{
    margin: 30px;
}

fa.fa-search.fa-5x{
    margin: 10px;
    height:20px;
}
.kidNames{
    font-family: 'Barlow', sans-serif;
    font-size: 25px;

}

.measurments{
    /* margin-top: 0;
    padding-top: 0;
    width:10px; */
    height:30px;
}

/* contanier css that holds the childs information */
.HomePagecard {
    box-shadow: 0 4px 8px 0 rgba(22, 4, 65, 0.2);
    transition: 0.3s;
    /* width: 20%; */
    float: left;
    width: 25%;
     border-radius: 5px;
     /* font-family: 'Indie Flower', cursive; */
     font-family: 'Gloria Hallelujah', cursive;
    /* clear: both; */
    /* margin: auto; */
    /* margin: auto; */
    
  
}

.HomePagecard:hover {
    box-shadow: 0 70px 80px 0 rgba(12, 2, 48, 0.2);
    
}

.HomePagecontainer {
    margin-bottom: 150px;
    padding: 2px 30px;
    padding-bottom: 20px;
    /* border: 1px, black; */
    
    /* margin: auto; */
    /* width: 100px; */
    /* content: justify-content; */
   /* width: 150px;
   height:350px;  */
   /* margin: auto; */
}


/* Health Page Styling */
.searchBar{
    border-style: inset;
    border-radius: 20px;
    height:35px;
    width:400px;
    margin-left: 10px;
    /* margin-left: 75px; */
}

.stlyeSearchBar{
    border: inset;
    /* border-radius: 120px; */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    width:auto;
    margin-top: 50px;
    background-color:#2309a533;
   
}

.searchBar1 {
    margin-left: 50px;
}

.searchRecipeButton{
    width:100px;
    height: 20px;
    border-radius: 100px;
}

.listOfRecipes{
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 1em;
    
}



/* Errand Partial */

/* Styled Classes */
.errandList {
list-style: none
}




/* Health Page: */
img {
    width:200px;
    height:160px;

}
.recipe{
    list-style-type: none;

}

.recipeName{
    list-style-type: none;

}

.recipeBuilder{
    justify-content: center;

}






/* stars rating */
/* .txt-center {
    text-align: center;
  }
  .hide {
    display: none;
  }
  
  .clear {
    float: none;
    clear: both;
  }
  
  .rating {
      width: 90px;
      unicode-bidi: bidi-override;
      direction: rtl;
      text-align: center;
      position: relative;
  }
  
  .rating > label { */
      /* float: right; */
      /* display: inline;
      padding: 0;
      margin: 0;
      position: relative; */
      /* width: 1.1em; */
      /* cursor: pointer;
      color: #000;
  }
  
  .rating > label:hover,
  .rating > label:hover ~ label,
  .rating > input.radio-btn:checked ~ label {
      color: transparent;
  }
  
  .rating > label:hover:before,
  .rating > label:hover ~ label:before,
  .rating > input.radio-btn:checked ~ label:before,
  .rating > input.radio-btn:checked ~ label:before {
      content: "\2605";
      position: absolute;
      left: 0;
      color: rgb(14, 13, 9); */
  /* } */
  /* end stars rating */