<!-- this page will display each kids list of favorite foods: -->
<div>
    <p>Favorite Recipes</p>

    <button ng-click="backtoHealthPage()">Take me back to the health page</button>

    <!-- Grab the kids name from firebase: -->
    <!-- <div>
        <strong>Name:</strong> {{ kid.firstName }}
        <br>
    </div> -->
    <div>

        <!-- Grab the Recipe Name -->
        <ul ng-repeat="recipe in recipes">
            <li class="recipeName">
                <br>
                <strong>{{ recipe.recipeName }}</strong>
            </li>

            <!-- Grab the total time for the recipe to cook/make: -->
            <li class="recipeName">
                <br>
                <!-- <strong>{{ recipe.kidid }}:</strong> -->
            </li>
        </ul>
    </div>
    <!-- show servings and prep time: -->
    <div ng-show="showStuff">
        <strong>Number of Servings: </strong> {{ingredients.numberOfServings}}
        <br>
        <br>
        <strong>Prep Time:</strong> {{ingredients.totalTime}}
    </div>


    <!-- Grab the image -->
    <img src="{{recipe.imageUrlsBySize[90]}}" />
    <br>

</div>