<!-- this page will display each kids list of favorite foods: -->
<div>
    <p>Favorite Recipes</p>

    <button ng-click="backtoHealthPage()">Take me back to the health page</button>

    <!-- Grab the kids name from firebase: -->
    <!-- <div>
        <strong>Name:</strong> {{ kid.firstName }}
        <br>
    </div> -->
    <div>

        <!-- Grab the Recipe Name -->
        <ul ng-repeat="recipe in recipes">
            <li class="recipeName">
                <br>
                <strong>{{ recipe.recipeName }}</strong>
            </li>

            <!-- Grab the total time for the recipe to cook/make: -->
            <!-- <li class="recipeName">
                <br>
                <!-- <strong>{{ <recipe class="firstName"></recipe> }}:</strong> -->
            <!-- </li>  -->
       
   <button ng-click"showIngredients()">Show the Ingredients</button>
    <!-- show ingredients and prep time: -->
    <div ng-repeat="ingredient in recipe.ingredients">
       {{ingredient}}
        <br>
        <!-- <strong>:</strong> {{recipe.ingredients}} -->
    </div>



    <!-- Grab the image -->
    <img src="{{recipe.foodImage}}" />
    <br>
</ul>
</div>
</div>