<div>
    <!-- <p>Making Meals with my Food Allergies</p> -->
    <div>
        <!-- drop down that displays the Allergies from Yummly API -->
        <!-- <h3 id="recipeBuilder">Recipe Builder</h3> -->
        <br>Child Name:
        <select>
            <option value="">Child Name 1 </option>
            <option value="">Child Name 2</option>
        </select>
        Food Allergies:
        <select ng-model="selectedAllergy" ng-options="allergy.allergyName for allergy in allergies">
        </select>


        <!-- Search for recipes -->
        Search Recipe:
        <input value=text ng-model="searchString" placeholder="Search Recipes">


        <!-- Create a Search Button that takes both the filtered allergy and the search form -->
        <button ng-click="searchRecipe(selectedAllergy)">Search</button>

        <!-- List the Recipes -->
        <div>
            <ul ng-repeat="recipe in Recipes" class="Recipe">
                <li class="recipeName">
                    <strong>{{ recipe.recipeName }}:</strong>
                </li>
                <!-- nested ng-repeat to grab the ingredients -->
                <div ng-repeat="ingredient in recipe.ingredients">
                    {{ingredient}}
                </div>
                <img src="{{recipe.imageUrlsBySize[90]}}" />
                <br>
                <!-- Add to my favorite meal list -->

                <br>
                <button ng-click=seeIngredients(recipe.id)>See the Ingredients</button>
                <div ng-repeat="ingredient in ingredients.ingredientLines">
                    {{ingredient}} <br>
                </div>
                <div>
                    {{ingredients.numberOfServings}} <br>
                    {{ingredients.prepTime}}
                </div>

                <!-- Save to my favorites Button -->
                <button ng-click="saveFavoriteRecipe()">Add to My Favorite Meal List!</button>
            </ul>

        </div>

    </div>
</div>