<div>
    <p>Health and Allergy Page</p>
    <div>
        <!-- drop down that displays the Allergies from Yummly API -->
        Display the Allergies:
        <br>
        <select ng-model="selectedAllergy" ng-options="allergy.allergyName for allergy in allergies">
        </select>

        <!-- Search for recipes -->
        Search Recipe:
        <input value=text ng-model="searchString" placeholder="Search Recipes">

    
        <!-- Create a Search Button that takes both the filtered allergy and the search form -->
        <button ng-click="searchRecipe(selectedAllergy)">Search</button>

            <!-- List the Recipes -->
            <div>
                    <ul ng-repeat="recipe in Recipes" >
                        <li>{{ recipe.recipeName }}</li>
                        <!-- nested ng-repeat to grab the ingredients -->
                        <div ng-repeat="ingredient in recipe.ingredients">
                            <p>{{ingredient}}</p>
                        </div>
                        <img src="{{recipe.imageUrlsBySize[90]}}"/>
                    </ul>
                </div>
        
    </div>
</div>