<div>
    <p>Health and Allergy Page</p>

    <div>

        <!-- drop down that displays the Allergies from Yummly API -->
        Display the Allergies:<br>
        <select ng-model="selectedAllergy" ng-options="allergy.allergyName for allergy in allergies">
        </select>

        <!-- Search for recipes -->
        Search Recipe:
        <input value=text ng-model="searchString" placeholder="Search Recipes">

        <!-- Create a Search Button that takes both the filtered allergy and the search form -->
        <button ng-click="searchRecipe()">Search</button>
    </div>
</div>