<!-- The Home Page Index After you Succesfully Log-In -->

<div>
    <!-- Welcome Message! -->
    <h2>LunchBox</h2>
    <!-- <p>Welcome to your Dashboard.</p> -->

    <!-- Buttons displaying on the main page: -->
    <!-- Health Page Button -->
    <button ng-click="healthButton()">Health & Food Alleriges</button>
    <!-- Errand Page Button -->
    <button ng-click="errandsButton()">Errands for the Day!</button>
    <!-- Nanny log button -->
    <button ng-click="nannyLogButton()">Daily Nanny Log!</button>
</div>
<!-- display the kids info on the home page -->
<div>
    <h4> My Family Info:</h4>
   
        <!-- childs picture -->
        <img src="" alt="" style="width:100%">
        {{kid.image}}
        <!-- <div class="HomePagecontainer"> -->
            <!-- need the image to go here: -->
            <div ng-repeat="kid in kidz">
                    <div class="HomePagecard">
                <div class="HomePagecontainer">
               <h4> <strong> {{ kid.firstName }}</strong></h4>
                <button>
                    <a href="#!/HomePageInformation/favoriteRecipes/{{kid.id}}">See Favorite Meals</a>
                </button>
                <!-- <p> <strong></strong>{{ kid.image }}</p>  -->
                <p> <strong>Age:</strong>{{ kid.age }}</p>              
                <p><strong>Gender:</strong>{{ kid.Gender }}</p>               
                <p><strong> Interests:</strong>{{ kid.Interests }}</p>               
                <p><strong>Birthday:</strong>{{ kid.Birthday }}</p> 
                <p><strong>Allergies:</strong>{{ kid.Allergies }}</p>
            </div>
                <br>
            </div>
        </div>
    </div>
 <br>



    <!-- <img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600">
    Try it Yourself » -->


