<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<!-- initiate angular -->
<body ng-app="CapstoneApp">
    <!-- call my ng-controller for this specific partial -->
    <section ng-controller="homePageCtrl">

        <h1>Welcome to Nannydoda Registration Page!</h1>
        <form ng-submit="addEmployee()">
            <div>
                First name: <input type="text" ng-model="newEmployee.firstName">
            </div>
            <div>
                Last name: <input type="text" ng-model="newEmployee.lastName">
            </div>
            <button>Hire employee</button>
        </form>
        
        <h2>All employees</h2>
        <div ng-repeat="person in employees">
            {{ person.firstName }} {{ person.lastName }}
        </div>





    </section>
</body>
</html>
