<!-- <span ng-include="'app/navigation/partials/search.html'"></span> -->
<footer class="footerContent">
        <div id="contact">
            <!-- <p class="bold">Contact</h4></p> -->
            <!-- <p>Phone: (901) 800-8888</p> -->
            <!-- <p>Email: <a href="mailto:Nannydo@gmail.com" target="_top">Nannydo's email!</a> -->
            </p>
        </div>
        <!-- <div id="hours"><p class="bold">Hours</h4></p> -->
            <p></p>
            <p></p>
    
        <!-- <div id="copyright"><p class="bold">&copy; Nannydo</h4></p> -->
            <!-- <p>All rights reserved</p> -->
            <p></p>
         </div>     
 </footer>