<!-- <span ng-include="'app/navigation/partials/search.html'"></span> -->
<footer class="footerContent">
        <div id="contact">
            <p class="bold">Contact</h4></p>
            <p>Phone: (888) 800-8888</p>
            <p>Email: <a href="mailto:Lunchbox@gmail.com" target="_top">Lunch Box's Email!</a>
            </p>
        </div>
        <div id="hours"><p class="bold">Hours</h4></p>
            <p>M-F: 9am - 5pm</p>
            <p>Sat: closed</p>
            <p>Sun: closed</p>                
        </div>
        <div id="copyright"><p class="bold">&copy; Lunchbox</h4></p>
            <p>All rights reserved</p>
            <p></p>
         </div>     
 </footer>