
<ul ng-controller="NavCtrl">
        <li><a href="/#!/HomePageInformation/healthPage">Health Page</a></li>
        <li><a href="/#!/HomePageInformation/nannyLog">NannyLog</a></li>
        <li><a href="/#!/HomePageInformation/errands">Errands</a></li>
        <li><a href="/#!/HomePageInformation/homePage">Home Page</a></li>
    
        <li class="align-right">
            <span ng-if="isAuthenticated()">
                <a href="#" ng-click="logout()">Logout <span>{{ email }}</span></a>
            </span>
            <span ng-if="!isAuthenticated()"></span>
        </li>
    </ul>