
<ul ng-controller="NavCtrl" class="navigation">
        <span ng-if="isAuthenticated()">
        <li><a href="/#!/HomePageInformation/healthPage">Health Page</a></li>
        <li><a href="/#!/HomePageInformation/favoriteRecipes">Favorite Recipes</a></li>
        <li><a href="/#!/HomePageInformation/errands">Errands</a></li>
        <li><a href="/#!/HomePageInformation/homePage">Home Page</a></li>
        <li class="align-right">
                
                     <!-- <a href="#" ng-click="logout()">Logout <span>{{ email }}</span></a> -->
                    </li>
 
            </span>
            <!-- <span ng-if="!isAuthenticated()"></span> -->
       
    </ul>