<!-- Registration Form for first time Users (Parents Only) -->

<h2>Registration Form</h2>
<!-- <form>
    <!-- Parent Information: -->
<!-- <h4>Parent & Guardian Information:</h4> -->
<!-- <div> -->
<!-- make required -->
<!-- First Name: -->
<!-- <input type="text"> -->
<!-- </div> -->
<!-- <div> -->
<!-- make required -->
<!-- Last Name: -->
<!-- <input type="text"> -->
<!-- </div> -->
<!-- </form>  -->
<!-- Kid Information: -->
<h4>Your Child's Information:</h4>
<form>
    <!-- first Child -->
    <!-- upload an image -->
   <div class="image-upload">
        <label for="file-input">
            <img src="placeholder.jpg" />
        </label>

        <input id="file-input" type="file" ng-model="kid.image"/>
    </div> 
    <div>
        <!-- make required -->
        First name:
        <input type="text" ng-model="kid.firstName">
    </div>

    <div>
        <!-- make required -->
        Age:
        <select name="age" ng-model="kid.age">
            <option value=""></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
        </select>
    </div>


    <!-- Birthday: -->
    <div>
        Birthday:
        <input type="text" ng-model="kid.birthday">
    </div>

    <!-- Interests -->
    <div>
        Interests:
        <input type="text" ng-model="kid.interests">

    </div>
    <!-- Allergies -->
    <div>
        Food Allergies:
        <select name="allergies" ng-model="kid.allergies">
            <option value=""></option>
            <option value="None">None</option>
            <option value="Gluten-Free">Gluten-Free</option>
            <option value="Peanut-Free">Peanut-Free</option>
            <option value="Seafood-Free">Seafood-Free</option>
            <option value="Sesame-Free">Sesame-Free</option>
            <option value="Soy-Free">Soy-Free</option>
            <option value="Dairy-Free">Dairy-Free</option>
            <option value="Egg-Free">Egg-Free</option>
            <option value="Sulfite-Free">Sulfite-Free</option>
            <option value="Tree Nut-Free">Tree Nut-Free</option>
            <option value="Wheat-Free">Wheat-Free</option>
        </select>
    </div>

    <div>
        <!-- make required -->
        Gender:
        <select name="gender" ng-model="kid.gender">
            <option value=""></option>
            <option value="Female">Female</option>
            <option value="Male">Male</option>
            <!-- <option value="Other">Other</option> -->
        </select>
        <br>
        <button id="saveChild" ng-click="saveChild()">Save this Child?</button>
        <!-- <button id="mybutton" ng-click="myvalue=true">Add another Child?</button> -->
        <br>
    </div>
</form>

<!-- Final Button to save the Data -->
<br>
<button ng-click="registerInDatabase()">Register My Family!</button>
</form>

